.main-color {
    color: #248874;
}
.main-bg {
    background-color: #248874;
}
/* waleed Ameed */
.rs-about.style1 .img-part .top-center {
    top: -30px;
    right: 72%;
    z-index: -1;
}
.readon2:hover {
    background: #fff;
    color: #000;
    border: 2px solid #248874;
    border-radius: 5px;
}
.ameed {
    padding-top: 40px;
}
@media (max-width: 992px) {
    .rs-about.style1 .img-part .top-center {
        top: -30px;
        right: 55% !important;
        z-index: -1;
    }
    .rs-about .ima {
        max-width: 100%;
        height: auto;
        margin-right: 63px;
    }
}
@media (max-width: 768px) {
    .rs-about.style1 .img-part .top-center {
        top: -30px;
        right: 67% !important;
        z-index: -1;
    }
    .rs-about .ima {
        max-width: 100%;
        height: auto;
        margin-right: 63px;
    }
}
.rs-cta.main-home .partition-bg-wrap:after {
    background: url(../images/waleed/Rectangle\ 93.png);
    background-color: #248874;
    background-repeat: no-repeat;
    background-position: top;
    left: 0;
}
.rs-cta.main-home .padin {
    padding: 0;
}
.rs-cta.main-home .partition-bg-wrap:before {
    background: #bcc5d6;

    right: 0;
}
.sec-title3 .desc.white-color {
    color: #777777 !important;
}
.rs-cta.main-home .partition-bg-wrap {
    padding: 40px 0;
}

.header-news {
    position: relative;
    display: inline-block;
}
.header-news::after {
    height: 2px !important;
    content: "";
    width: 100% !important;
    height: 5px;
    background-color: #a2a2b2;
    position: absolute;
    bottom: -12px;
    left: 0;
}

.owl-carousel.owl-rtl .owl-item .im-p {
    height: 342px;
    width: 100%;
}

.rs-blog.main-home .blo {
    height: 372px;
}

.image-part {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-part::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 10px;
}

.image-part img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    z-index: 2;
}
.owl-carousel .owl-item img {
    width: 100%;
    border-radius: 10px;
}
/* احصائيات */
.rs-statistics {
    background: url(../images/waleed/slider23.jpg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.main-home {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 136, 116, 0.7);
    z-index: 1;
}

.rs-counter {
    position: relative;
    z-index: 2;
}
.rs-counter.style2-about .counter-item .rs-count {
    color: #fff !important;
}
.rs-counter.style2-about .counter-item .title {
    color: #fff !important;
}
.rs-counter.style2-about .counter-item .title {
    font-size: 17px !important;
    color: #505050;
}
/* vedio */
.rs-college-videos .heigh {
    height: 367px;
}
.rs-faq-part.rs-college-videos.style1 .img-part {
    border-radius: 10px;
}
.media-icon.orange-color .popup-videos {
    color: #fff;
    background: #ffffff;
}
.media-icon.orange-color .popup-videos {
    background: #000;
    opacity: 0.7;
}
.media-icon .popup-videos i {
    margin-right: -6px !important;
}
.rs-college-videos .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
    border-radius: 10px;
}
.rs-college-videos .mt {
    margin-top: 16px;
}
/* degree */
.rs-counter.style2-about .counter-item .rs-count {
    color: #506378;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
/* serves */
.card-1 {
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.card-1 img {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding-top: 20px;
}

.card-title-1 {
    margin-top: 10px;
    text-align: center;
    color: #333;
    font-size: 15px;
}

@media (max-width: 768px) {
    .serv .card-1 {
        width: 50%;
    }
    .rs-about.style1 .img-part .top-center {
        top: -30px;
        right: 67% !important;
        z-index: -1;
    }
    .serv .pp {
        padding: 5px;
        display: flex;
        justify-content: center;
    }
}

.serv {
    padding-top: 30px;
    padding-bottom: 30px;
}
.serv .pp {
    padding: 5px;
}
/* الخط */
.header_playlist {
    display: inline-block;
    position: relative;
}

.header_playlist::after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: #a2a2b2;
    position: absolute;
    bottom: -12px;
    left: 0;
}
/* for topbar header  */
.full-width-header .rs-header .topbar-area .topbar-contact li {
    border-left: 0;
    margin-left: 5px;
    padding-left: 5px;
}

.full-width-header .rs-header .topbar-area .topbar-contact li,
.full-width-header .rs-header .topbar-area .topbar-contact li a,
.topbar-link-color {
    color: #d0d6dd !important;
}
.full-width-header
    .rs-header
    .topbar-area
    .topbar-right
    li.login-register
    a:hover {
    color: #a2a2b2;
}

.full-width-header .rs-header .topbar-area .topbar-contact li i:before {
    color: #e9ebeb;
}

.full-width-header .rs-header .topbar-area .topbar-right li {
    margin-left: 10px;
}

.divider {
    font-size: 20px;
    line-height: 20px;
    padding: 0 10px;
}

.full-width-header .rs-header .topbar-area .topbar-right li.login-register i {
    margin-left: 5px;
}

/* sticky menu  */
.full-width-header .rs-header .logo-part img {
    max-height: 60px;
    height: 60px;
    width: 182px;
}
/* waleed new edit */
@media only screen and (max-width: 991px) {
    .full-width-header .rs-header .logo-part img {
        width: 110px;
    }
    .full-width-header .rs-header .menu-area .main-menu .rs-menu ul.sub-menu {
        background: #fff;
    }
    .full-width-header.header-style2
        .rs-header
        .menu-area
        .rs-menu-area
        .main-menu
        .rs-menu
        ul.sub-menu {
        background: #fff;
    }
    .full-width-header.header-style2
        .rs-header
        .menu-area
        .rs-menu-area
        .main-menu
        .rs-menu
        ul.sub-menu
        li
        a:hover {
        color: #248874 !important;
    }
    .rs-features .features-wrap {
        text-align: center;
    }
    .album-title {
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 25px !important;
        padding-top: 25px !important;
    }
}
/* waleed end new edit */
/* waleed start new edit_2 */
@media only screen and (max-width: 991px) {
    .rs-header .menu-area .main-menu .rs-menu ul.nav-menu {
        background: #248874 !important;
    }
}
@media only screen and (max-width: 991px) {
    .full-width-header
        .rs-header
        .menu-area
        .main-menu
        .rs-menu
        ul.nav-menu
        li
        a {
        color: #fff !important;
        transition: all 0.3s;
    }
    .full-width-header.header-style2
        .rs-header
        .menu-area
        .rs-menu-area
        .main-menu
        .rs-menu
        ul
        li
        a:hover,
    .full-width-header.header-style2
        .rs-header
        .menu-area
        .rs-menu-area
        .main-menu
        .rs-menu
        ul
        li.active
        a,
    .full-width-header.header-style2
        .rs-header
        .menu-area
        .rs-menu-area
        .main-menu
        .rs-menu
        ul
        li.current-menu-item
        > a {
        color: #fff !important;
        border-right: 2px solid #fff;
        margin: 5px;
    }
}
@media only screen and (max-width: 991px) {
    .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
        height: 51px !important;
        line-height: 58px !important;
        padding: 0 22px 0 0 !important;
    }
}
@media only screen and (max-width: 991px) {
    .nav-menu > li > a {
        border-bottom: 1px solid #1313131a;
        text-align: right;
    }
}
@media only screen and (max-width: 991px) {
    .nav-menu > .menu-item-has-children > span.rs-menu-parent {
        background: #248874;

        color: #fff;
    }
}
@media only screen and (max-width: 991px) {
    .full-width-header.header-style2
        .rs-header
        .menu-area
        .rs-menu-area
        .main-menu
        .rs-menu
        ul.sub-menu {
        background: #248874;
    }
    .full-width-header.header-style2
        .rs-header
        .menu-area
        .rs-menu-area
        .main-menu
        .rs-menu
        ul.sub-menu
        li
        a {
        margin-right: 25px;
        margin-left: 25px;
        border-bottom: 1px solid #1313131a;
    }
}
@media only screen and (max-width: 991px) {
    .nav-menu > .menu-item-has-children > span.rs-menu-parent {
        height: 50px;
    }
}
@media only screen and (max-width: 991px) {
    .full-width-header.header-style2
        .rs-header
        .menu-area
        .rs-menu-area
        .main-menu
        .rs-menu
        ul.sub-menu
        li
        a:hover {
        color: #fff !important;
    }
}
@media only screen and (max-width: 991px) {
    .nav-menu div.sub-menu-close {
        background: #248874;
        color: #fff;
        transition: all.3s;
    }
}
@media only screen and (max-width: 991px) {
    .nav-menu div.sub-menu-close:hover {
        font-size: 15px;
        color: #000;
    }
    .rs-menu {
        width: 100%;
    }
}
@media only screen and (max-width: 991px) {
    .full-width-header.header-style2
        .rs-header
        .menu-area
        .rs-menu-area
        .main-menu
        .rs-menu
        ul.sub-menu {
        transition: all 0.3s;
    }

    /* تعريف الأنيميشن */
    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .full-width-header.header-style2
        .rs-header
        .menu-area
        .rs-menu-area
        .main-menu
        .rs-menu
        ul.sub-menu {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        display: block;
    }

    .full-width-header.header-style2
        .rs-header
        .menu-area
        .rs-menu-area
        .main-menu
        .rs-menu
        ul.sub-menu.visible {
        max-height: 500px;
        opacity: 1;
        animation: fadeInDown 1s ease both;
    }
}
.rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
    font-family: "Cairo-blod", sans-serif;
}
.full-width-header.header-style2
    .rs-header
    .menu-area.sticky
    .main-menu
    .rs-menu
    ul.nav-menu
    > li
    > a:hover,
.full-width-header.header-style2
    .rs-header
    .menu-area.sticky
    .main-menu
    .rs-menu
    ul.nav-menu
    > li.active,
.full-width-header.header-style2
    .rs-header
    .menu-area.sticky
    .main-menu
    .rs-menu
    ul.nav-menu
    > li.current-menu-item
    > a {
    color: #00000070 !important;
}
.full-width-header.header-style2
    .rs-header
    .menu-area
    .rs-menu-area
    .main-menu
    .rs-menu
    ul.sub-menu
    li
    a:hover {
    color: #00000070 !important;
}

.full-width-header .rs-header .menu-area.sticky .nav-expander:hover span {
    background-color: #00000070 !important;
}
.full-width-header.header-style2
    .rs-header
    .menu-area.sticky
    .expand-btn-inner
    li
    > a:hover {
    color: #00000070 !important;
}
#scrollUp.orange-color i:hover {
    background-color: #248874;
}
.rs-slider.main-home .owl-nav .owl-next:hover,
.rs-slider.main-home .owl-nav .owl-prev:hover {
    background: #248874;
    color: #fff;
}
/* waleed end new edit_2*/

.full-width-header .rs-header .menu-area .logo-cat-wrap {
    height: 90px;
    line-height: 90px;
}
.full-width-header .rs-header .menu-area .main-menu .rs-menu ul.nav-menu li a {
    height: 90px;
    line-height: 90px;
}

.full-width-header.header-style2 .rs-header .menu-area .rs-menu-area {
    justify-content: flex-start;
}

.full-width-header .rs-header .menu-area .nav-expander span {
    background-color: #394459;
}

.full-width-header .rs-header .menu-area.sticky .nav-expander span {
    background-color: #fff;
}
/* hovering items  */
.full-width-header .rs-header .menu-area.sticky .nav-expander:hover span {
    background-color: #ccc;
}

.full-width-header.header-style2
    .rs-header
    .menu-area.sticky
    .expand-btn-inner
    li
    > a:hover {
    color: #ccc;
}

/* main slider  */
.rs-slider.main-home .slider-content .content-part .sl-title {
    font-size: 40px;
}

.features-wrap .icon-part i {
    font-size: 50px;
    margin: 0 0 8px 20px;
}

.rs-features .features-wrap .icon-part img {
    margin: 0 0 8px 10px;
}

.owl-carousel .owl-item img {
    width: 100%;
}

.rs-breadcrumbs .breadcrumbs-text ul li a:before,
.rs-breadcrumbs .breadcrumbs-text ul li a:after {
    top: 9px;
}

/* news part  */
.rs-blog.main-home .blog-item .blog-content .blog-meta li:last-child {
    font-size: 12px;
}
.header-news {
    position: relative;
}

.header-news::after {
    content: "";
    width: 6em;
    height: 5px;
    background-color: #a2a2b2;
    position: absolute;
    bottom: -12px;
    right: 0;
}

/* event part  */

.event-row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-events {
    position: relative;
}

.header-events::after {
    content: "";
    width: 7.7em;
    height: 5px;
    background-color: #a2a2b2;
    position: absolute;
    bottom: -12px;
    right: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .rs-blog.style1 .events-short {
        flex-direction: column;
    }
    .rs-blog.style1 .events-short .date-part {
        position: relative;
        margin-bottom: 1em;
    }
    .rs-blog.style1 .events-short .content-part {
        padding-right: 0;
        text-align: center;
    }
}

/*  latest news  */
.rs-blog.style1 .blog-item .blog-content {
    padding: 14px 14px 14px;
}

.rs-blog.style1 .blog-item .blog-content .title a {
    font-size: 18px;
}

.rs-blog.style1 .blog-item .blog-content .readon-arrow {
    font-size: 14px;
}
.rs-blog.style1 .blog-item .image-part {
    padding-right: 14px;
}

.rs-blog.main-home
    .blog-item
    .blog-content
    .btn-btm
    .cat-list
    .post-categories:before {
    content: "\f007";
}

/* Statistics  */
.rs-statistics {
    box-shadow: 0px 0px 10px -7px #248874;
    /* box-shadow: 0px 0px 13px -3px ; */
}

.header-statistics {
    position: relative;
}

.header-statistics::after {
    content: "";
    width: 7.5em;
    height: 5px;
    background-color: #a2a2b2;
    position: absolute;
    bottom: -12px;
    right: 0;
}

.rs-counter .counter-item .rs-count {
    padding-right: 0;
    padding-left: 0;
}
.lg-mb-70 {
    margin-bottom: 70px;
}
.rs-counter .counter-item .title,
.rs-counter.style2-about .counter-item .title {
    color: #248874;
}

/* playlist */
.header_playlist {
    position: relative;
}

/* College and Institute */

.rs-degree.style1 .degree-wrap .content-part {
    padding: 30px 30px 30px;
}

.header-colleges {
    position: relative;
    font-size: 33px;
    text-align: right;
    padding: 0 0.5em;
}
.header-colleges::after {
    content: "";
    width: 0.3em;
    height: 90%;
    background-color: #248874;
    position: absolute;
    top: 0.2em;
    right: 0px;
}
.header-college-subtitle {
    font-size: 22px;
    margin-top: 1.5em;
    text-align: right;
}
/* temperary in college and institute */

@media (min-width: 768px) {
    .rs-degree.style1 .degree-wrap img {
        /* height: 390px ; */
        height: 455px;
    }
}

@media only screen and (max-width: 575px) {
    .rs-degree.style1 .degree-wrap img {
        height: 325px;
    }
}

/* New Videos */
.rs-faq-part.rs-college-videos.style1 .img-part {
    min-height: 250px;
}

/* albums */
.rs-degree.rs-college-album.style1 {
    background-color: #bcc5d6;
}
@media (min-width: 768px) {
    .rs-degree.rs-college-album.style1 .album-container {
        box-shadow: 0 0 12px -1px #000;
    }
    .album-title {
        background-color: #248874;
        padding: 50px;
    }
}

.rs-degree.rs-college-album.style1 .degree-wrap img {
    height: 325px;
}

.header-album {
    position: relative;
    font-size: 33px;
}

.header-album::after {
    content: "";
    width: 8px;
    height: 90%;
    /* background-color: #248874; */
    background-color: #a2a2b2;
    position: absolute;
    top: 2px;
    right: -12px;
}
.header-album-subtitle {
    font-size: 22px;
    margin-top: 1.5em;
}

.rs-degree.rs-college-album.style1 .degree-wrap:hover .title-part {
    bottom: 0;
    opacity: 1;
}

/* Footer  */
.rs-footer.home9-style .footer-top {
    padding: 80px 0 80px;
}
.desc.desc-title {
    padding-right: 0 !important;
}

.rs-blog.main-home .blog-item .blog-content .title a {
    font-size: 20px;
    line-height: 30px;
}

.rs-blog.style1 .events-short .content-part .title a {
    font-size: 16px;
    line-height: 24px;
}

/* blog list */
.recent_post_title::before {
    width: 7.5em !important;
}
.tags_title::before {
    width: 8.2em !important;
}

/* waleed eadit start */
.h2_eadit {
    font-size: 29px !important;
}
.content-shadow {
    box-shadow: 0px 0px 12px 11px rgba(0, 0, 0, 0.03);
}
/* news  */

.rs-blog.main-home .blog-item .blog-content .title a {
    color: #000;
}
.rs-blog.main-home .blog-item .blog-content .blog-meta {
    color: #777777;
}
.rs-blog.main-home .blog-item .blog-content .btn-btm .rs-view-btn a {
    padding: 3px;
    border: 2px solid #248874;
    border-radius: 10px;
    background: #248874;
    color: #fff;
}
.rs-blog.main-home .blog-item .blog-content .btn-btm .rs-view-btn a:hover {
    padding: 3px;
    border: 2px solid #248874;
    border-radius: 10px;
    color: #000;
    background: #fff;
}

.rs-blog.main-home .blog-item .blog-content .btn-btm .rs-view-btn a:after {
    content: "\f053";
    font-family: fontawesome;
    font-size: 12px;
    position: relative;
    left: 0px;
    top: 0px;
    display: inline-block;
    margin-right: 3px;
}
@media (min-width: 768px) {
    .album-title {
        max-width: 100% !important;
    }
}
@media (max-width: 768px) {
    .album-title {
        max-width: 100% !important;
        background-color: #248874;
        padding-bottom: 10px;
    }
}
/* content-card  */
.rs-degree.style1 .degree-wrap .content-part,
.rs-team.style1 .team-item:after {
    width: calc(101%);
    height: calc(101%);
}
.header-college-subtitle {
    color: #777777;
}
.rs-degree.style1 .degree-wrap .content-part {
    background: #fff;
}
.rs-degree.style1 .degree-wrap .content-part .title a {
    color: #000;
}
.rs-degree.style1 .degree-wrap .content-part .desc {
    color: #777777;
}
.rs-degree.style1 .degree-wrap .content-part .btn-part a {
    color: #777777;
}
.rs-blog.style1 .events-short .content-part .title a {
    color: #000;
}

.rs-counter.style2-about .counter-item {
    display: flex;
}
.rs-counter.style2-about .counter-item .statistic-image {
    padding-left: 0.7em;
}
.rs-counter.style2-about .counter-item .statistic-content {
    text-align: right;
}

.rs-counter.style2-about .counter-item .statistic-image .image {
    width: 5.7em;
    height: 100%;
}

@media only screen and (max-width: 991px) /* @media (max-width: 768px) */ {
    .rs-counter.style2-about .counter-item {
        flex-direction: column;
    }
    .rs-counter.style2-about .counter-item .statistic-image {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 1em;
    }
    .rs-counter.style2-about .counter-item .statistic-content {
        text-align: center;
    }
}

.rs-counter.style2-about .counter-item .rs-count {
    color: #506378;
}
.rs-counter.style2-about .counter-item .title {
    color: #248874;
}

/* youtup */
.rs-faq-part.rs-college-videos.style1 .img-part {
    min-height: 170px !important;
}
.media-icon .popup-videos {
    width: 60px;
    height: 60px;
}
.media-icon .popup-videos i {
    margin-right: -3px;
    margin-top: -2px;
}

/* album */
@media (min-width: 768px) {
    .rs-degree.rs-college-album.style1 .album-container {
        box-shadow: none !important;
    }
}
.album-title {
    max-width: 20%;
}
.rs-degree.rs-college-album.style1 {
    background: url(../images/bg/bg2.jpg);
}
.rs-degree.style1 .degree-wrap {
    border-radius: 12px;
}
/* footer */
.rs-footer.home9-style.main-home .footer-top .widget-title:before {
    background: #fff;
}
.rs-footer.home9-style.main-home .footer-top .site-map li a:hover {
    color: #a2a2b2 !important;
}
.rs-footer.home9-style .footer-top .address-widget li .desc a:hover {
    color: #a2a2b2 !important;
}
.rs-footer.home9-style .footer-top .address-widget li .desc:hover {
    color: #a2a2b2 !important;
    cursor: pointer;
}
.rs-footer.home9-style.main-home .footer-top .site-map li:before {
    background: #fff;
}
.rs-footer.home9-style.main-home .footer-bottom .copy-right-menu li:before {
    background: #fff;
}
.rs-footer.home9-style.main-home {
    background: #248874;
}
.rs-footer.home9-style.main-home .footer-bottom .copy-right-menu li a:hover {
    color: #a2a2b2 !important;
}
.album-btn {
    background-color: #248874;
    color: #fff !important;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
    transition: 0.3s all;
}
.album-btn:hover {
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.4);

    color: #fff;
}
.full-width-header.header-style2 .rs-header .menu-area.sticky .waleed {
    color: #fff;
}
.rs-menu-area .waleed {
    color: #000;
}
.full-width-header.header-style2
    .rs-header
    .menu-area.sticky
    .topbar-link-color {
    color: #ffffff;
}
.full-width-header
    .rs-header
    .topbar-area
    .topbar-right
    li.login-register
    a:hover {
    color: #a2a2b2;
}
.rs-footer.home9-style.main-home .footer-top .footer_social li a:hover {
    color: #a2a2b2;
}

.full-width-header .rs-header .topbar-area .topbar-contact li,
.full-width-header .rs-header .topbar-area .topbar-contact li a,
.topbar-link-color {
    color: #fff;
}

.full-width-header .rs-header .topbar-area .topbar-contact li i:before {
    color: #e9ebeb;
}
.header-events::after {
    height: 2px !important;
}
.header-news::after {
    height: 2px !important;
}
.header-statistics::after {
    height: 2px !important;
}
.header_playlist::after {
    height: 2px !important;
}
@media (max-width: 992px) {
    .rs-menu-area .waleed {
        display: none !important;
    }
}
@media (max-width: 992px) {
    .full-width-header .rs-header .menu-area .nav-expander {
        display: none !important;
    }
}
/* waleed edit end */

.full-width-header.header-style2
    .rs-header
    .menu-area.sticky
    .main-menu
    .rs-menu
    ul.nav-menu
    > li
    > a:hover,
.full-width-header.header-style2
    .rs-header
    .menu-area.sticky
    .main-menu
    .rs-menu
    ul.nav-menu
    > li.active,
.full-width-header.header-style2
    .rs-header
    .menu-area.sticky
    .main-menu
    .rs-menu
    ul.nav-menu
    > li.current-menu-item
    > a {
    color: #21a7d0;
}
